<!DOCTYPE html><html lang="es">
<head>
    <title>Herramienta de Autoria</title>
    <meta charset="UTF-8"/>
    <!--LIBRERIAS CSS-->
    <link rel="stylesheet" href="dist/libs/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="dist/libs/css/star-rating.min.css" type="text/css" />
    
    <!--hoja general CSS-->
    <link rel="stylesheet" href="dist/css/style.css" type="text/css" />
    <!--LIBRERIAS JS-->
    <script type="text/javascript" src="dist/libs/js/angular.min.js"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
         MathJax.Hub.Config({
           extensions: ["mml2jax.js"],
           jax: ["input/MathML", "output/HTML-CSS"]
         });
    </script>
    <script type="text/javascript" src="dist/libs/js/jquery.min.js"></script>
    <script type="text/javascript" src="dist/libs/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/libs/js/bootstrap-wizard.min.js"></script>
    <script type="text/javascript" src="dist/libs/js/star-rating.min.js"></script>
    <!--general JS-->
    <script type="text/javascript" src="dist/js/app.min.js"></script>
    <script type="text/javascript" src="dist/js/math.js"></script>
    <script type="text/javascript" src="dist/js/Mathjax.js"></script>
    <!--Controladores AngularJS -->
    <script type="text/javascript" src="dev/js/controllers/respuestaController.js"></script>
    <script type="text/javascript" src="dev/js/controllers/variableController.js"></script>
   
</head>
<body ng-app>
    <!--Contenedor general-->
    <section class="container contenedor" id="rootWizard">
        <article class="row">
            
            <div class="col-xs-8  u-pad0 " id=  "tab-content">
                <!--Panel de problema-->
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#formulacion" class="tab-li" data-toggle="tab">Formulacíon</a></li>
                <li><a href="#respuestas" class="tab-li" data-toggle="tab">Respuestas</a></li>

            </ul>
            <div id="my-tab-content" class=" panel panel-default tab-content">
                <div class="tab-pane active" id="formulacion">
                    <div class=" contenedor-panel tab-pane " id="tab1">
                        <div class="panel-body">
                            <div class="form-group ">
                                <textarea id="text-formulacion" onchange="UpdateMath('<math>'+this.value+'</math>')" type="text" class="form-control contenedor-panel-input" placeholder="Escribe aqui tu pregunta"></textarea>
                            </div>
                            <div class="contenedor-panel-prev panel panel-default" id="previsualizador">
                              
                              <img id="division" height="40" width="40" class="contenedor-panel-prev-img"src="dist/images/division2.png">
                              <img id="suma" height="40" width="40" class="contenedor-panel-prev-img" src="dist/images/suma.png">
                              <img id="resta" height="40" width="40" class="contenedor-panel-prev-img" src="dist/images/resta.png">
                              <img id="multiplicacion" height="40" class="contenedor-panel-prev-img" width="40" src="dist/images/multiplicacion.png">
                              <img id="constante" height="40" class="contenedor-panel-prev-img" width="40" src="dist/images/constante.png">
                              <img id="string" height="40" class="contenedor-panel-prev-img" width="40" src="dist/images/text.png">
                            </div>
                      
                            <div class="pager wizard">
                                <li class="next">
                                    <a href="#" class="btn btn-success u-btn">
                                        Siguiente <span class="glyphicon glyphicon-share-alt "></span>
                                    </a>
                                </li>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="respuestas" ng-controller="respuestaController" >
                    <div class=" contenedor-panel tab-pane " id="tab2">
                        <div class="panel-body">
                        <ul class="respuestas">
                            <li class="" ng-repeat="respuesta in respuestas">
                                <div  role="alert" class="alert  respuesta alert-{{colors[respuesta.valor]}}">
                                  <strong>{{respuesta.respuesta}}</strong>  {{respuesta.texto}}
                                  <span ng-click="eliminarRespuesta($index)" class="glyphicon glyphicon-remove pull-right respuesta-icon"></span>

                                  <span data-toggle="modal" data-target="#myModalA" class="glyphicon glyphicon-pencil pull-right respuesta-icon"></span>
                                </div>
                            </li>

                        </ul>

                        <button class="btn btn-success u-btn" data-toggle="modal" data-target="#myModal">
                            Agregar <span class="glyphicon glyphicon-pencil "></span>
                        </button> 
                    </div>    


                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      <form name="forma" ng-submit="agregarRespuesta()">


                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">Agrega respuestas!</h4>
                        </div>
                        <div class="modal-body">
                          <h5>Respuesta:</h5>      
                          <div class="form-group has-feedback" ng-class="{'has-error':forma.respuesta.$invalid, 'has-success': forma.respuesta.$valid}">

                              <input type="text" required  name="respuesta" ng-model="nuevaRespuesta" class="form-control " size="3" placeholder="Respuesta">
                          </div>
                          <h5>Texto Explicativo:</h5>
                          <textarea type="text" ng-model="nuevoTexto" name="texto" required  class="form-control has-feedback"  ng-class="{'has-error':forma.texto.$invalid, 'has-success': forma.texto.$valid}"  placeholder="Agrega un texto adicional"></textarea>
                          <h5>Valor: </h5>
                          <!--<div class="form-group">
                              <input type="number" class="form-control contenedor-variables-input" value="0" max="5" min="0" placeholder="valor">
                          </div>-->
                          <input id="valor" class="rating" ng-model="nuevoValor"  name="valor" data-min="0" data-max="5" data-step="1">



                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          <button type="submit" ng-disabled="forma.$invalid"class="btn btn-success">Agregar
                              <span class="glyphicon glyphicon-ok "></span>
                          </button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>



                </div>

            </div>
            
            <div class="panel panel-default">
                  <div  class="panel-heading">
                        Expresiones
                    </div>
                    <div id="previsualizar" class="panel-body">
                     <math></math>  
                    </div>
                </div>
            </div>
            <!--FIN: Seccion Derecha-->
             <!--Seccion izquierda-->
            <div class="col-xs-4 " ng-controller="variableController">

                <!--Panel de variabless-->
                <div class="contenedor-variables panel panel-default"  >
                    <div class="panel-heading">
                        <h3 class="panel-title">Variables {{test}}</h3>
                    </div>
                    <div class="panel-body">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle btn-success" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-plus "></span>
                        Nueva
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li rolec="presentation"><a role="menuitem" id="varEspecifica" tabindex="-1" href="#">Especifica</a></li>
                        <li role="presentation"><a role="menuitem" id="varUniforme" tabindex="-1" href="#">Uniforme</a></li>
                        <li role="presentation"><a role="menuitem" id="varCategorica" tabindex="-1" href="#">Categorica</a></li>
                      </ul>
                    </div>
                        <form class="form-inline u-no_display" role="form" ng-submit="newVariableUniforme()" id="formUniforme">
                          <!--input variable-->
                          <div class="form-group">
                            <input type="text"  ng-model="newNombreU" class="form-control contenedor-variables-input" size="3" placeholder="var">
                          </div>
                          <!--input valor-->
                          <span> &isin; &#91;</span>
                          <!--boton cear-->
                          <div class="form-group">
                            <input type="number" ng-model="newMinU"  class="contenedor-variables-input form-control" >
                          </div>
                          <span> , </span>
                          <div class="form-group">
                            <input type="number"  ng-model="newMaxU" class="contenedor-variables-input form-control" >
                          </div>
                          <span>&#93; </span>
                          <div class="form-group">
                            <input type="number" ng-model="newIncU"  class="contenedor-variables-input--increment form-control"  placeholder="inc">
                          </div>
                          <button type="submit" class="btn btn-success">ag</button>
                        </form>


                        <div>
                            <form class="form-inline u-no_display" role="form" id="formEspecifica" ng-submit="newVariableEspecifica()">
                              <!--input variable-->
                              <div class="form-group">
                                <input type="text" class="form-control contenedor-variables-input" size="3" ng-model="newNombreE" placeholder="var">
                              </div>
                              <!--input valor-->
                              <span> = </span>
                              <!--boton cear-->
                              <div class="form-group">
                                <input type="number"  ng-model="newValorE" class="contenedor-variables-input form-control" >
                              </div>
                              <button type="submit" class="btn btn-success">ag</button>
                            </form>

                        </div>

                        <div>
                            <form class="form-inline u-no_display" role="form" id="formCategorica">
                              <!--input variable-->
                              <div class="form-group">
                                <input type="text" class="form-control contenedor-variables-input" size="3" placeholder="var">
                              </div>
                              <!--input valor-->
                              <span> &isin; &#91;</span>
                              <!--boton cear-->
                              <div class="form-group">
                                <input type="number"  class="contenedor-variables-input form-control" >
                              </div>

                            </form>

                        </div>


                    </div>


                </div>
                <!--FIN: Panel de variables-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                        variables Definidas    
                    </div>
                    <div class="panel-body">
                      <ul>
                          <li ng-repeat="variable in variables.especificas" class="panel-variable-item">
                            <div><strong class="view-variable" data-text="{{variable.nombre}}">{{variable.nombre}}</strong> = {{variable.valor}}</div>
                          </li>
                          
                          <li ng-repeat="variable in variables.uniformes" class="panel-variable-item">
                            
                              <strong class="view-variable" data-text="{{variable.nombre}}">{{variable.nombre}}</strong>
                              &isin; &#91; {{variable.min}} , {{variable.max}}  &#93; inc {{variable.inc}}
                           
                          </li>
                          
                          <li ng-repeat="cate in variables.categoricas" class="panel-variable-item">
                            <strong class="view-variable" data-text="{{cate.nombre}}">{{cate.nombre}}</strong>=
                            &#91;
                              <b ng-repeat="op in cate.opciones">{{op}},</b>  
                            &#93;
                          </li>
                        </ul>
                    </div>
                </div>
                </div>
                
                </div>

            <!--FIN: Seccion izquierda-->

        </article>
        
    </section>
</body>

</html>



                  <!-- Modal update 
                  <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      <form ng-submit="actualizarRespuesta($index)">


                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">Agrega respuestas!</h4>
                        </div>
                        <div class="modal-body">
                          <h5>Respuesta:</h5>      
                          <div class="form-group">
                              <input type="text" ng-model="nuevaRespuestaA" class="form-control " size="3" placeholder="Respuesta">
                          </div>
                          <h5>Texto Explicativo:</h5>
                          <textarea type="text" ng-model="nuevoTextoA" class="form-control "  placeholder="Agrega un texto adicional"></textarea>
                          <h5>Valor: </h5>
                          <!--<div class="form-group">
                              <input type="number" class="form-control contenedor-variables-input" value="0" max="5" min="0" placeholder="valor">
                          </div>
                          <input id="valorA" class="rating" ng-model="nuevoValor"  data-min="0" data-max="5" data-step="1">



                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-success">Actualizar
                              <span class="glyphicon glyphicon-ok "></span>
                          </button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>  -->
