@import 'utilidades.styl'
body
    background url('http://www.abstractartistgallery.org/wp-content/uploads/2013/02/Abstract-Art-Painting-Mirza-Zuplijanin.jpg') no-repeat center center fixed
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
p
    margin: 0px !important
.contenedor
    padding:30px
    padding-top 0
    display none
    
.contenedor-variables
    margin-top 40px
.contenedor-variables
    &-input
        width: 40px !important;
        padding: 0px;
        margin: 8px;
        text-align: center;
    
    &-input--increment
        width: 40px !important;
        padding: 0px;
        margin: 8px;
        text-align: center;
    
        background rgba(46, 121, 46, 0.43);
.contenedor-panel-input
    margin-top 30px
    height  120px !important
    
.contenedor-panel-prev
    margin-top 30px
    border none
    
.step.active
    background: #5cb85c !important;
    border: #ddd solid 3px !important;
.respuesta-icon
    padding 0 5px
    cursor pointer
.respuesta
    margin-bottom 5px
ul
    list-style-type: none;
    padding  0
.panel-equation
    width 100%
    height 250px
    background #ccc
.tab-li
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0.79);
    border-radius 4px 4px 0 0
    
.tab-content
    border-radius 0px 4px 4px 4px !important
.nav-tabs>li.active
    bottom -1px

.view-variable
    padding: 3px 5px;
    background-color: #D84E4E;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    cursor pointer
    color white
.view-variable:hover
    box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    -moz-box-shadow: 0px 0px 5px red;
.panel-variable-item
    margin 5px
.contenedor-panel-prev-img:hover
    background #ddd
    box-shadow: 0px 0px 5px #bbb;
    -webkit-box-shadow: 0px 0px 5px #bbb;
    -moz-box-shadow: 0px 0px 5px #bbb;
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
#launchPad {
    color: black;
    border-radius: 10px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
}
#dropZone {
    float:right;
    border: 1px solid #eaeaea;
    color: black;
}
.card {

    border:1px solid #ccc;
    background-color: #eaeaea;
    display: inline-flex;
    margin: 2px;
}

.card2 {
    margin: 0 6px;
    padding: 5px 10px;
    border:1px solid #ccc;
    background-color: #eaeaea;
}

.stack {
    width: 180px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin: 20px;
}
.stackHdr {
    background-color: #eaeaea;
    border: 1px solid #fff;
    padding: 5px
}
.stackDrop1, .stackDrop2 {
    min-height:100px;
    padding: 15px;
}
.panel-2 {
    float: right;
    right: 0;
    width: 100%;
    min-height: 400px;
    background: rgba(233, 186, 186, 0.43);
    font-size:20px;
}

.spa {
    min-height: 20px;
    border: 1px dotted gray;
    display: inline-flex
    min-width: 10px
}

.card2 > p {
    margin: 0;
}

.panel-2 .spa{
    display: block;
}
.drop-p {
    background: blue;
}
.drop-2 {
    background: green;
    padding: 50px ;
    height: 60px !important;
    width: 60px !important;
}
.drop-3 {
    /*background: yellow;
    padding: 20px;
    margin: 10px;
    /*width: 30px !important;*/
    padding: 10px;
    margin: 10px 0px 0px 0px;
    border: solid 2px red;
}
.var {
    color: green;
}
.in {
    padding:0;
    margin:0;
    display: inline-block;
    border: 0px;
}
.tree {
    display: inline-flex !important;
}
.tree .value {
    font-size:35px
}


.tree .combinatoria{
    font-size:50px;
}

.division{
    font-size:36px;
}
.indices {
}
.spa .top  {
    min-height: 10px;
}

.subindice{
    min-height: 10px !important;
    min-width: 10px !important;
}
.indice-cominatoria{
    margin-top: 13px;
}
.indice-division{
    margin-top: 10px;
}
.potencia-exponente{
    position: relative;
    top: -10px;
    font-size: 8px
}


.potencia-iexponente{
    position: relative;
    top: 10px;
    font-size:8px
}

.test{
    background: red;
}

.ui-element{
    margin: 15px !important;
}

#droppable-out{
    float: left;
    height: 100%;
    width: 100%;
}

#div-iner{
    float: right;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

#div-iner2{
    float: right;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
#line-hr { 
  background-color: black;
  height: 3px;
  width: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.constant
    height: 35px
    width: 35px
    padding-left: 10px
    padding-top: 5px
    padding-bottom: 5px
.operations
    height: 35px
    width: 40px
    padding-left: 10px
    padding-top: 5px
    padding-bottom: 5px
.operations.basic
    width: 55px
.operations.trigonometric
    width: 77px
.subindices 
    height: 40px
    padding-top: 4px
    
.subindice-superior
    margin-top: 5px
    margin-bottom: 8px
    border-bottom: 1px solid black
    
#inputfiles
    display: none
.right-content
    position: fixed;
.panel-variables
    position fixed
    width 30.6%
    max-height: 320px
    overflow auto
.p-0
    padding: 0 !important

.genuine-error
    display: flex !important
    flex-direction: row
    justify-content: space-between
    
    &__body
        display: flex
        flex-direction: row
        
        &-item
            margin: 5px
            
            &.input
                display: flex
                flex-direction: row
                
               